<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Photostock</title>
</head>

<body>
    <header class="header">
        <ul>
            <li class="name"><a href="/">Photostock</a></li>

            <li class="upload">
                <form enctype="multipart/form-data" method="post" onsubmit="checkFile(event)">
                    <p style="width: 250px;">
                        <label class="label">
                            <span class="title">Add</span>
                            <input type="file" name="filedata" id="uploadFile">
                        </label>
                        <input type="submit" value="Send file" class="submit-button">
                    </p>
                </form>

                <div style="margin-top: 15px;" id="textDiv"></div>
            </li>
        </ul>
    </header>

    <div class="content">
        <section class="centered">
            <div class="projects">
                <% for (var i = 0; i < title.length; i++) {%>
                <div class="brick">
                    <img src="images/<%= title[i] %>">
                </div>
                <%} %>
            </div>
        </section>
    </div>

    <script>
        var uploadFile = document.getElementById("uploadFile"); // input[type="file"]
        var fileNf = document.getElementById("textDiv"); // "File not found/file name div"

        function checkFile(e) {
            if (uploadFile.files.length == 0) {
                e.preventDefault();
                
                fileNf.innerHTML = "File not found.";

                setTimeout(function() {
                    fileNf.innerHTML = "";
                }, 1500);
            }
        }

        uploadFile.addEventListener('change', function() {
            var filename = uploadFile.value.replace(/^.*\\/, "");
            fileNf.innerHTML = filename;
        });
    </script>
</body>

</html>