@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Light.ttf);
}

button {
    text-decoration: none;
    outline: none;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;

    font-family: 'Open Sans';
}

.autocomplete-items div {
    font-family: 'Open Sans';
    font-size: 30px;
    cursor: pointer;
    height: 100%;

    display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start
}
  
  /*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #fff;
}
  
  /*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: #e9e9e9 !important; 
}

.container {
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.input {
    margin-top: 100px;
    text-align: center;
}

.main-input {
    font-family: 'Open Sans';
    height: 50px;
    font-size: 32px;
    border: 1px solid transparent;
}

.main-but {
    border-style: solid;
    border-radius: 15px;
    border-width: 0;
    height: 50px;
    font-size: 32px;
    background: #fff;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
}

.main-but:hover {
    background: lightgray;
}

.line {
    width: 395px;
    border: solid;
    border-width: 0.5px;
    border-color: #f1f1f1;
    padding: 0px;
    margin: 0px;
}

#response {
    font-family: 'Open Sans';
    font-size: 36px;
    margin-top: 75px;
    margin-left: -170px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}