@font-face {
    src: url(../fonts/OpenSans-Light.ttf);
    font-family: 'Open Sans';
}

html, body, h1 {
    margin: 0;
    padding: 0;
}

html {
    height: 4000px;
}

.header {
    background-color: rgb(44, 62, 80);
    min-height: 879px;
    max-height: 879px;
}

.imgs {
    text-align: center;
    padding-top: 123px;
}

.header-text {
    text-align: center;
    margin-top: 124px;
    color: #fff;
}

.header-text h1 {
    font-family: 'Open Sans';
    font-size: 48px;
    line-height: 1.208;
}

.header-text div {
    font-family: 'Open Sans';
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.777;   
}

.header-button {
    margin-top: 109px;
    text-align: center;
    cursor: pointer;
}

.header-button-first {
    color: #fff;
    border-radius: 4px;
    border-style: none;
    background-color: rgb(22, 160, 133);
    box-shadow: inset 0px 3px 0px 0px rgba(59, 212, 182, 0.004);
    width: 230px;
    height: 72px; 
    font-size: 16px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    cursor: pointer;
    line-height: 2.844;
    margin-right: 15px;
}

.header-button-first:hover {
    background-color:#19b596;
}

.header-button-second {
    color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.231);
    width: 230px;
    height: 72px;
    font-size: 16px;
    font-family: "Open Sans";
    text-transform: uppercase;
    cursor: pointer;
    line-height: 2.844;
    margin-left: 15px;     
}

.header-button-second:hover {
    background-color: #141d25;
}

.button-more {
    margin-top: 116px;
    left: 50%;
}

.header-button-more {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0);
    width: 44px;
    height: 44px;  
}

.header-stripes {
    margin-top: 63px;
    width: 100%;
}

/* Content block */
.content {
    margin-top: 141px;
}

/* Content h1 block */

.content-first {
    display: flex;
	justify-content: center;
}

.content-first-texts {
    margin: auto 20px;
}

.content-first-text {
    text-align: left;
    min-width: 320px;
    font-size: 35px;
    font-family: 'Open Sans';
    color: rgb(96, 95, 95);
    text-transform: uppercase;
}

.content-first-text img {
    margin-left: 30px;
}

.content-first-subtext {
    text-align: left;
    max-width: 320px;
    font-size: 16px;
    font-family: 'Open Sans';
    color: rgb(119, 119, 119);
    margin-top: 15px;
}

.content-first-next {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(22, 160, 133);
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0);
    width: 29px;
    height: 29px;
    margin-top: 25px;
    cursor: pointer;
}

.content-first-phone {
    margin: auto 220px;
}

.line {
    margin: 150px auto;
    background-color: rgb(228, 232, 234);
    width: 75%;
    height: 2px;
}

/* Content h2 block */

.content-second {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.content-second-texts {
    margin: auto 190px;
}

.content-second-text {
    text-align: left;
    min-width: 320px;
    font-size: 35px;
    font-family: 'Open Sans';
    color: rgb(96, 95, 95);
    text-transform: uppercase;
}

.content-second-text img {
    margin-left: 30px;
}

.content-second-subtext {
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans';
    color: rgb(119, 119, 119);
    margin-top: 15px;
}

.content-second-next {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(22, 160, 133);
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0);
    width: 29px;
    height: 29px;
    margin-top: 25px;
    cursor: pointer;
}

/* Content h3 block */

.content-third {
    display: flex;
    flex-direction: column;
}

.content-third-text {
    text-align: center;
    font-size: 35px;
    font-family: 'Open Sans';
    color: rgb(96, 95, 95);
    text-transform: uppercase;
}

/* Content h3 blocks */

.content-third-blocks {
	display: flex;
    justify-content: center;
    margin-top: 50px;
}

.content-third-block1 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    background-color: rgb(255, 255, 255);
    width: 242px;
    height: 242px;
    margin: auto 70px;
}

.content-third-block2 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    background-color: rgb(255, 255, 255);
    width: 242px;
    height: 242px;
    margin: auto 70px;
}

.content-third-block3 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    background-color: rgb(255, 255, 255);
    width: 242px;
    height: 242px;
    margin: auto 70px;
}

.content-third-block1-img {
    background-color: rgb(228, 232, 234);
    width: 213px;
    height: 213px;
    margin: 6% auto;
}

.content-third-block2-img {
    background-color: rgb(228, 232, 234);
    width: 213px;
    height: 213px;
    margin: 6% auto;
}

.content-third-block3-img {
    background-color: rgb(228, 232, 234);
    width: 213px;
    height: 213px;
    margin: 6% auto;
}

/* Content h3 blocks texts */

.content-third-block-text {
    margin-top: 42px;
    font-size: 24px;
    color: rgb(54, 54, 54);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans';
}

.content-third-block-subtext {
    font-size: 14px;
    color: rgb(138, 138, 138);
    text-align: center;
    font-family: 'Open Sans';
    margin-top: 13px;
}

/* Content h3 button */

.content-third-next {
    margin: 0 auto;
    margin-top: 142px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(22, 160, 133);
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0);
    cursor: pointer;
    width: 29px;
    height: 29px;
}

/* Content signup */

.content-signup {
    margin-top: 216px;
    background-color: rgb(44, 62, 80);
    min-height: 439px;
}

.content-signup-title {
    padding-top: 116px;
    font-size: 36px;
    font-family: "Open Sans";
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.content-signup-subtitle {
    font-family: "Open Sans";
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.content-signup-form {
    margin-top: 67px;
    text-align: center;
}

.content-signup-input {
    width: 490px;
    height: 71px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgb(138, 138, 138);
    font-size: 18px;
    font-family: "Open Sans";
    padding-left: 21px;
}

.content-signup-button {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(22, 160, 133);
    box-shadow: inset 0px 3px 0px 0px rgba(59, 212, 182, 0.004);
    cursor: pointer;
    width: 204px;
    height: 73px;
    padding-top: 2px;
}

.content-signup-stripes {
    width: 100%;
    position: absolute;
    margin-top: 87px;
}