@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, h1 {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(44, 62, 80);
    min-height: 879px;
    max-height: 879px;
}

.imgs {
    display: block;
    text-align: center;
    padding-top: 124px;
}

.header-text {
    text-align: center;
    margin-top: 124px;
    color: #fff;
}

.header-text h1 {
    font-family: 'Open Sans';
    font-size: 48px;
    line-height: 1.208;
}

.header-text div {
    font-family: 'Open Sans';
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.777;   
}

.header-button {
    margin-top: 109px;
    text-align: center;
}

.header-button-first {
    color: #fff;
    border-radius: 4px;
    border-style: none;
    background-color: rgb(22, 160, 133);
    box-shadow: inset 0px 3px 0px 0px rgba(59, 212, 182, 0.004);
    width: 230px;
    height: 72px; 
    font-size: 16px;
    font-family: "Open Sans";
    text-transform: uppercase;
    line-height: 2.844;
    margin-right: 15px;
}

.header-button-first:hover {
    background-color:#19b596;
}

.header-button-second {
    color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.231);
    width: 230px;
    height: 72px;
    font-size: 16px;
    font-family: "Open Sans";
    text-transform: uppercase;
    line-height: 2.844;
    margin-left: 15px;     
}

.header-button-second:hover {
    background-color: #141d25;
}

.button-more {
    margin-top: 116px;
    text-align: center;
}

.header-button-more {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0);
    width: 44px;
    height: 44px;  
}