.title {
    font-size: 24px;
    text-align: center;
}

#inputText {
    display: block;
    margin: 30px auto;
    font-size: 14px;
}

#mainTasks {
    min-width: 550px;
    max-width: 550px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#tasks {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.task {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 24px;
}

#buttons {
    display: inline-block;
    margin-left: 20px;
}

.crossBut {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    border: none;
    background: #fff;
    cursor: pointer;
}