.title {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

#inputText {
    display: block;
    margin: 30px auto;
    font-size: 20px;
    min-width: 550px;
    max-width: 550px;
}

#mainTasks {
    min-width: 550px;
    max-width: 550px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#tasks {
    float: left;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.task {
    text-align: left;
    max-width: 475px;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    word-break: break-all;
}

#buttons {
    float: right;
}

.crossBut {
    display: block;
    height: 40px;
    font-size: 24px;
    border: none;
    background: #fff;
    cursor: pointer;
}