@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
    background-color: #ebdfdf;
}

.title {
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
    font-family: "Chilanka";
    color: #49423d;
}

#inputText {
    display: block;
    min-width: 550px;
    margin: 30px auto;
    font-size: 25px;
    -webkit-appearance: none;
    appearance: none;
    background: #ebdfdf;
    border: solid;
    border-width: 1px;
    padding: 15px;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 8px;
    border-color: #49423d;
}

#mainTasks {
    min-width: 550px;
    max-width: 550px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #49423d;
}

#tasks {
    float: left;
    max-width: 475px;
    overflow-x: hidden;
    overflow: hidden;
    font-family: 'Titillium Web';
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.task {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 24px;
    word-wrap: break-word;
}

#buttons {
    float: right;
    margin-left: 20px;
}

.crossBut {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    border: none;
    background: #ebdfdf;
    cursor: pointer;
}