@font-face {
    src: url("fonts/OpenSans-Light.ttf");
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    outline: none;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
}

input {
    text-decoration: none;
    outline: none;
}

button {
    text-decoration: none;
    outline: none;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    font-family: 'Open Sans';
}

input[type=radio] {
    display: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Open Sans';
    text-align: center;
}

.input-event {
    font-size: 25px;
}

.set-date {
    margin-top: 250px;
}

.input-event {
    border-style: none;
    background: #fff;
    font-family: 'Open Sans';
    font-size: 35px;
}

.name-event a {
    font-family: 'Open Sans';
    color: lightgray;
    margin-left: 25px;
    font-size: 25px;
}

.name-event a:hover {
    color: #000
}

.select-date-div {
    margin-top: 50px;
    margin-left: -275px;
}

.date-cal {
    font-size: 25px;
    border: none;
}

.select-date-div button {
    border-style: none;
    background: #fff;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 25px;
    color: lightgray;
    margin-left: 50px;
}

.select-date-div button:hover {
    color: #000;
}

.counter {
    margin-top: 50px;
    font-size: 25px;
}