@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap'); // Nunito
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap'); // Open Sans

body {
    margin: 0;
}

button {
    text-decoration: none;
    outline: none;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    font-family: 'Open Sans';
}

.app {
    margin: 0 auto;
    margin-top: 200px;
    max-width: 1200px;
    height: 800px;
}

/* City search, show info about weather */

.up-block {
    display: flex;
    justify-content: space-between;
    min-height: 50%;
    /* background-color: #432C85; */
    background: linear-gradient(to top, #8d67e4, #2E1D65);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0.5rem 2rem 0.5rem rgba(0, 0, 255, 0.2);
    /* box-shadow: 0 -0.5rem 2rem 0.5rem rgba(0, 0, 255, 0.2); */
    /* box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1); */
}

#weatherBlock {
    max-width: 500px;
    margin-left: 75px;
    margin-top: 45px;
}

.weatherTemperature {
    text-align: center;
    color: #fff;
    font-size: 140px;
    font-family: 'Nunito', sans-serif;
}

.weatherCondition {
    color: #ddd8e9;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 7px;
}

.weatherExtraData {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    max-height: 100px;
    width: 350px;
}

.weatherHumidity {
    max-width: 250px;
    font-family: 'Montserrat', sans-serif;
    color: #ddd8e9;
    font-size: 20px;
}

.weatherWind {
    max-width: 65px;
    font-family: 'Montserrat', sans-serif;
    color: #ddd8e9;
    font-size: 20px;
}

/* Input */

.cityInputBlock {
    margin-top: 70px;
    margin-right: 70px;
}

#cityInput {
    text-align: center;
    max-width: 140px;
    border: none;
    background-color: inherit;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

.cityInputLine {
    margin: 0 auto;
    margin-top: 5px;
    width: 50px;
    border: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 20px;
}

/* Other */

.down-block {
    min-height: 50%;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

    /* transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear; */

@media screen and (max-width: 1440px) {
    .app {
        margin-top: 60px;
        max-width: 950px;
        max-height: 700px;
    }

    .weatherTemperature {
        font-size: 120px;
    }
}