body {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background-color: #fdfdfd;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	padding-left: 10px;
	padding-right: 10px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

.center {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.textramka {
	max-width: 910px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.textramka p,
.textramka h2,
.textramka h3 {
	padding-left: 10px;
	padding-right: 10px;
}

div.ya-share2 {
	padding-left: 10px;
}

#tzad {
	border: 1px solid #cbcbcb;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	min-height: 276px;
	max-width: 500px;
	background-color: #fff;
	cursor: pointer;
}

#tramk {
	max-width: 520px;
	margin-top: 10px;
}

.guitar-neck {
	margin: 0 auto;
	max-width: 520px;
	height: 400px;
	background: brown;
}

.tuneron {
	cursor: pointer;
	display: block;
	transition: all 0.2s;
	font-size: 24px;
	border: 1px solid #0b8043;
	color: #fff;
	background: #0b8043;
	text-decoration: none;
	border-radius: 8px;
	padding: 23px 32px;
	margin-left: auto;
	margin-right: auto;
	width: 302px;
}

.tuneron:active,
.tuneron:hover {
	color: #fff;
	background: #e71d36;
	border: 1px solid #e71d36;
}

ul.isnan {
	font-size: 19px;
	padding-left: 10px;
}

ul.isnan li {
	background: none;
	padding: 0 0 10px 2px;
	list-style: none;
}

#eplay,
#bplay,
#gplay,
#dplay,
#aplay,
#e6play {
	cursor: pointer;
	display: inline-block;
	width: 28px;
	height: 27px;
	margin-right: 6px;
	background-image: url(playactive.png);
	background-size: contain;
	margin-bottom: -6px;
	background-repeat: no-repeat;
}

#epause,
#bpause,
#gpause,
#dpause,
#apause,
#e6pause {
	display: inline-block;
	width: 28px;
	height: 27px;
	margin-right: 6px;
	background-image: url(pauseinactive.png);
	background-size: contain;
	margin-bottom: -6px;
	background-repeat: no-repeat;
}

@media (max-width: 700px) {
	h1 {
		text-align: left;
		font-size: 30px;
	}
}